@model List<StudentDetailDto>
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_KusysLayaout.cshtml";
    int siraNo = 1;
}

<link href="~\lib\bootstrap\dist\css\bootstrap.css" rel="stylesheet" />
<h3>Öğrenci Detay Sayfası</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">SıraNo</th>
            <th scope="col">Ögrenci Adı</th>
            <th scope="col">Ögrenci Soyadı</th>
            <th scope="col">Ders Kodu</th>
            <th scope="col">Ders Adı</th>


        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@siraNo</th>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.CourseCode</td>
                    <td>@item.CourseName</td>
                 </tr>
                siraNo++;
            }

        }
    </tbody>
</table>

<br />
<a href="/Student/Index/" class="btn btn-primary">Öğrenci Listesi</a>